PORT=3000
NODE_ENV=production
JWT_SECRET=karino_enterprise_jwt_secret_key_prod_2026_983742918734912873
SUPABASE_URL=https://xwjodiszshqitcjanamo.supabase.co
SUPABASE_KEY=sb_publishable_c4UXK09vyRD-MrO0Uk-rcQ_Ln7NylKN
